name: "Pull Request"

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Checks (${{ matrix.os }})
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install
        run: make install

      - name: Run Format Check
        run: make format-check

      - name: Run Tests
        run: make test
